{% extends "base.html" %}

{% block main %}


<div class="container-xl">
    <div class="row no-gutter" style="padding-bottom: 3rem;">
        <h1>PoliTyper Content Manager</h1>
        <hr />
    </div>
    <div class="row no-gutter">
        <div class="col-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet blandit nisl.
            Praesent ut tellus id orci gravida vehicula quis ac orci. Ut congue ipsum ut tellus fermentum pretium. Nunc
            hendrerit risus et viverra mollis. Sed quis feugiat quam. Phasellus pellentesque tempor purus, congue
            egestas sem hendrerit in. Fusce pharetra metus quis lacus bibendum malesuada. Morbi ac dapibus ex.
            Suspendisse potenti. Aliquam condimentum interdum tempus. Class aptent taciti sociosqu ad litora torquent
            per conubia nostra, per inceptos himenaeos. Integer ac tincidunt sem.
            <br />
            Quisque commodo tempor condimentum. Suspendisse nulla libero, aliquam id augue id, vestibulum eleifend
            ipsum. Fusce facilisis neque a leo scelerisque, suscipit ultrices leo convallis. Suspendisse ultricies justo
            imperdiet metus aliquet, eu imperdiet nibh sollicitudin. Pellentesque id quam posuere, faucibus metus eu,
            ultrices neque. Nulla ac mattis risus. Ut in elit lectus. Duis tempus neque a sem maximus pulvinar. Praesent
            eu mauris elit. Duis ac felis nec enim hendrerit vulputate non ac tellus. Class aptent taciti sociosqu ad
            litora torquent per conubia nostra, per inceptos himenaeos. Aenean at ultrices nibh. Donec at lacinia erat.
            Quisque eget risus et est ultrices fermentum.</div>
        <div class="col-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet blandit nisl.
            Praesent ut tellus id orci gravida vehicula quis ac orci. Ut congue ipsum ut tellus fermentum pretium. Nunc
            hendrerit risus et viverra mollis. Sed quis feugiat quam. Phasellus pellentesque tempor purus, congue
            egestas sem hendrerit in. Fusce pharetra metus quis lacus bibendum malesuada. Morbi ac dapibus ex.
            Suspendisse potenti. Aliquam condimentum interdum tempus. Class aptent taciti sociosqu ad litora torquent
            per conubia nostra, per inceptos himenaeos. Integer ac tincidunt sem.
            <br />
            Quisque commodo tempor condimentum. Suspendisse nulla libero, aliquam id augue id, vestibulum eleifend
            ipsum. Fusce facilisis neque a leo scelerisque, suscipit ultrices leo convallis. Suspendisse ultricies justo
            imperdiet metus aliquet, eu imperdiet nibh sollicitudin. Pellentesque id quam posuere, faucibus metus eu,
            ultrices neque. Nulla ac mattis risus. Ut in elit lectus. Duis tempus neque a sem maximus pulvinar. Praesent
            eu mauris elit. Duis ac felis nec enim hendrerit vulputate non ac tellus. Class aptent taciti sociosqu ad
            litora torquent per conubia nostra, per inceptos himenaeos. Aenean at ultrices nibh. Donec at lacinia erat.
            Quisque eget risus et est ultrices fermentum.</div>
    </div>
</div>
{% endblock %}